<span>What recipe do you want to create ?</span>

<form method="POST" action="/enter">
 recipe name:<br>
 <input type="text" name="recipe_name"><br>
 description:<br>
 <input type="text" name="description">
 <input type="submit" value="Submit">
</form>
